<?php

	/* @var $form \Zend\Form\Form */
	$form = $this->form;
	$form->prepare();

	$form->setAttribute('method', 'post');
	$form->setAttribute('id', 'recipeForm');

	/*
	echo '<pre>';
	foreach ($form->getElements() as $key => $value) {
		echo '&lt;?php echo $this->aceText($form->get(\'' . $value->getName() . '\')) ?><br>';
	}
	echo '</pre>';

	 */

?>

<?php echo $this->AceForm()->openTag($form); ?>

<div class="col-xs-12 col-md-12 gray">
<?php echo $this->partial('recipe/_parts/dialog-header.phtml', array(
		'form'		=> $form,
		'patient'	=> $this->patient,
		'type'		=> 'basic',
		'inputWidth' => 12,
		'class' => 'padd-12'
	)) ?>
</div>

<?php echo $this->partial('recipe/_parts/recipe-header.phtml', array(
		'form' => $form,
	)) ?>

<!-- widget -->
<div class="widget-box">
	<div class="widget-header header-color-blue">
		<h4>Pozycje recepty</h4>

		<div class="pull-right buttons-header">
			<button class="btn btn-xs btn-success" id="add-drug">
				<i class="icon-plus icon"></i>
				<span class="bigger-110 no-text-shadow">Dodaj lek</span>
			</button>
		</div>

	</div>

	<div class="widget-body">
		<div class="widget-main">

				<div class="col-md-12 col-xs-12 drugs">
					<?php //echo $this->formCollection($form->get('leki')) ?>
					<?php $leki = $form->get('leki'); ?>

				<table class="table table-bordered recipe-elements">

					<thead>
						<tr>
							<th class="width-50">Nazwa Leku</th>
							<th>Jednostka Dawkowania</th>
							<th>Dawka</th>
							<th>Dawkowanie</th>
							<th>Odpłatność</th>
							<th>NZ</td>
							<th>Opcje</th>
						</tr>
					</thead>

					<?php foreach($leki as $medicine): ?>
					<?php /* @var $medicine Recipe\Form\DrugFieldset */ ?>
					<tr>
						<td><?php echo $this->formHidden($medicine->get('id')) ?>
							<?php echo $this->formHidden($medicine->get('deleted')) ?>
							<?php echo $this->formInput($medicine->get('nazwa')) ?></td>
						<td><?php echo $this->formInput($medicine->get('jednostka')) ?></td>
						<td><?php echo $this->formInput($medicine->get('dawka')) ?></td>
						<td><?php echo $this->formInput($medicine->get('dawkowanie')) ?></td>
						<td><?php echo $this->formInput($medicine->get('odplatnosc')) ?></td>
						<td><?php echo $this->formSelect($medicine->get('nz')) ?></td>
						<td>
							<button class="btn btn-xs btn-danger delete-medicine">
								<i class="icon-minus bigger-125"></i>
								USUŃ
							</button>
						</td>
					</tr>
					<?php endforeach ?>
				</table>
				<?php	$template = $leki->getTemplateElement(); ?>
				<?php /* @var $template Recipe\Form\DrugFieldset */ ?>
				<?php
					$row = "<tr>"
							. "<td>{$this->formHidden($template->get('id'))}{$this->formInput($template->get('nazwa'))}</td>"
							. "<td>{$this->formInput($template->get('jednostka'))}</td>"
							. "<td>{$this->formInput($template->get('dawka'))}</td>"
							. "<td>{$this->formInput($template->get('dawkowanie'))}</td>"
							. "<td>{$this->formInput($template->get('odplatnosc'))}</td>"
							. "<td>{$this->formSelect($template->get('nz'))}</td>"
							. "<td>"
							. "<button class=\"btn btn-xs btn-danger delete-medicine\">"
							. "<i class=\"icon-minus bigger-125\"></i>"
							. "USUŃ</button>"
							. "</td>"
							. "</tr>";
					$row = htmlspecialchars($row);

					$row = '<span data-template="' . $row . '"></span>';

					echo $row;
				?>
			</div>

			<?php echo $this->formRow($form->get('patient_id')) ?>
			<?php echo $this->formRow($form->get('csrf')) ?>

			<div class="col-md-12 col-xs-12">
				<div class="col-md-12 col-xs-12 pull-right align-right">

					<?php echo $this->partial('recipe/_parts/action-buttons.phtml', array(
						'noPrint'	=> false,
						'dialogId'	=> '#addRecipeDialog',
						'id'		=> $this->id,
					)) ?>

				</div>
			</div>
			
			<div class="clearfix"></div>
			
			
		</div>
	</div>
</div>

<div class="clearfix"></div>


<?php echo $this->form()->closeTag() ?>

<script type="text/javascript">
	jQuery(document).ready(function($) {
		$('#add-drug').bind('click', function(event) {
			event.preventDefault();

			var currentCount = $('.drugs table tr').length - 1;

			if (currentCount > 4) return;

			var template = $('.drugs > span').data('template');
			template = template.replace(/__index__/g, currentCount);

			$('.drugs > table').append(template);
			deletePosition();
		});

		deletePosition();
		function deletePosition() {
			$('.delete-medicine').unbind('click');
			$('.delete-medicine').bind('click', function(event) {
				event.preventDefault();

				var that = this;
				var parent	= $(that).parents('tr').eq(0),
					LekiId	= $(parent).find('.leki-id').length;

				if (LekiId == 0) {
					$(parent).remove();
				} else {
					$(parent).addClass('hide');
					$(parent).find('.leki-id').val('yes');
				}


			});
		}

		var dialogId = '#addRecipeDialog';
		/* Wysłanie formularza */
		$('#recipeForm').bind('submit', function(event) {
			event.preventDefault();
			
                        var $drugs = false;
                        
			if ( $('.drugs table tr').length < 2 ) {
			    alert('Nie można zapisać formularza bez pozycji leków');
			    return;
			}
			
                        $('.recipe-elements').find('[name*="nazwa"]').each(function() {
            
                            if ($(this).val() != '') $drugs = true;
                            
                        });
                        
                        if (!$drugs) {
                            alert('Musisz zdefiniować przynajmniej jeden lek');
                            return;
                        }  
                        
			var dialog = $(this).parents('.ui-dialog').eq(0);

			$.ajax({
				type: "POST",
				url: '<?php echo $this->url('recipe/default', array('action' => 'edit', 'id' => $this->id )) ?>',
				data: $(this).serialize(),
				async: false,
			  })
			.done(function( data, textStatus, request ) {

				if (request.getResponseHeader('Content-Type') == 'application/json') {
					if (data['<?php echo Invi\System\JSON::STATUS ?>'] == '<?php echo Invi\System\JSON::STATUS_OK ?>') {
						
						var newWin = window.open();
						newWin.location = data.data.openInNewWindow;
						
						$( dialogId ).dialog('close');
						
					} else {
						alert('Wystąpił błąd');
					}
				} else {
				    $( dialogId ).html(data);
				}

			});
		});
	});
</script>

