<?php
    use PatientInterview\Model\General;
    $visitUrl = $this->url('visit/view');

    if($this->prepareDataAccess) {
        $tooltipPrepareStart = ($this->havePreparedData) ? 'Popraw dane' : 'Przygotuj dane';
    } else {
        $tooltipPrepareStart = 'Rozpocznij wizytę';
    }
?>
<!-- Belka w karcie pacjenta -->

<!-- widget -->
<div class="widget-box">
    <div class="widget-header header-color-blue round-icons">
        <div class="icon-group bigger-200"></div>
        <h4><?php echo $this->escapeHtml($this->patientData->last_name . ' ' . $this->patientData->first_name); ?></h4>

        
        
        <!--	<div class="buttons-start"> -->
        <button type="button" data-title="<?php if (!$this->isVisitActive): echo $tooltipPrepareStart; else: ?>Wizyta trwa<?php endif; ?>" class="btn-35 user-card-button start-visit icon-arrow-right <?php if ($this->isVisitActive): ?>disabled<?php endif; ?>">
            <i class="bigger-110"></i>
            <span class="bigger-110 no-text-shadow"></span>
        </button>
        <!--	</div>  -->
        <!-- Wizyty i procedury do zrealizowania -->
        <button class="btn-35 user-card-button icon-question icon-question-tooltip" data-title=""></button>

        <!-- Alergie, choroby przewlekłe -->
        <button class="btn-35 user-card-button icon-exclamation" data-title=""></button>

        <!-- EWUŚ -->
        <button class="btn-35 user-card-button ewus<?php 
        if($confirmDate):?> accepted<?php
        endif;?>" data-title="" >
            <div class="ewus-icon"></div>
        </button>
    </div>
</div>
<?php echo $this->partial('visit/index/type-list-choose', array(
    'patientData' => $this->patientData,
    'eventTypes' => $this->eventTypes
));?>

<script type="text/javascript">
    var nfz = {
        init: function () {
            <?php if($confirmDate):?>
                var data = [];
                data[1] = 1;
                data[64] = '<?php if($lastConfirmEwus) echo date("Y-m-d", 
                strtotime($lastConfirmEwus['0']['ewus_confirm_date'])); ?>';
                nfz.ewusTooltip(data, []);
            <?php else: ?>
                nfz.ewusBind();
            <?php endif; ?>
        },
        openDialog: function () {
            
        },
        ewusBind: function(){
            jQuery('.ewus').bind('click', function(){
                <?php 
                $url =  $this->url('patient\nfz/default', 
                        array('action' => 'patientStatus', 'id' => $this->patientData->id));?>
                jQuery.ajax({
                    url: '<?php echo $url; ?>',
                    dataType: "json",
                })
                    .done(function (data, textStatus, request) {
                        if(data['data']['patient'][1] == 1){
                            jQuery('.ewus').unbind('click');
                            jQuery('.ewus').addClass('accepted');
                            nfz.ewusTooltip(data['data']['patient'], data['data']['session']);
                        }
                        else if(data['data']['session']['code'] == 100 ||
                                data['data']['session']['code'] == 101 ||
                                data['data']['session']['code'] == 102 ||
                                data['data']['session']['code'] == 103) {
                            jQuery('.ewus').addClass('not-accepted');
                            nfz.ewusNotConnected(data['data']['patient'], data['data']['session'])
                        } else {
                            jQuery('.ewus').unbind('click');
                            jQuery('.ewus').addClass('not-accepted');
                            nfz.ewusTooltip(data['data']['patient'], data['data']['session']);
                        }
                    });
            });
        },
        ewusNotConnected: function(data, session) {
            jQuery('.ewus').find('.ewus-icon').addClass('icon-close').removeClass('ewus-icon');
            nfz.ewusTooltip(data, session);
        },
        ewusTooltip: function (data, session) {
            var msg = '';
            var date = ' \r\nŚwiadczenie ważne do:             \r\n'+data[64];
            if(session['code'] == '000'){
                jQuery('.ewus').bind('click', nfz.openDialog());
                msg = 'Udało się zalogować do sysytemu EWUŚ';
            }
            else if(session['code'] == '001'){
                msg = 'Hasło do sysytemu EWUŚ wkrótce wygaśnie';
            }
            else if(session['code'] == '002'){
                msg = 'Hasło do sysytemu EWUŚ wygaśnie w ciągu tygodnia';
            }
            else if(session['code'] == '003'){
                msg = 'Hasło do sysytemu EWUŚ dziś wygasa';
            }
            if (data[1] == '1' ) {
                jQuery('.ewus').attr('data-title', 'textTooltip');
//                fade botton in tooltip
                jQuery('.ewus').tooltip('hide')
                            .attr('data-original-title', 'Pacjent posiada uprawnienia '+msg+date)
                            .tooltip('fixTitle')
                            .tooltip('show');
            } else if(data[1] == '99'){
                jQuery('.ewus').tooltip('hide')
                    .attr('data-original-title', 'Pacjent nie widnieje w bazie '+msg)
                    .tooltip('fixTitle')
                    .tooltip('show');
            } else if(session['code'] == '100'){
                jQuery('.ewus').tooltip('hide')
                    .attr('data-original-title', 'Nie powiodło się połączenie')
                    .tooltip('fixTitle')
                    .tooltip('show');
            } else if(session['code'] == '101'){
                jQuery('.ewus').tooltip('hide')
                    .attr('data-original-title', 'Nieznany Błąd')
                    .tooltip('fixTitle')
                    .tooltip('show');
            } else if(session['code'] == '102'){
                jQuery('.ewus').tooltip('hide')
                    .attr('data-original-title', 'Niewłaściwy ID Sesji')
                    .tooltip('fixTitle')
                    .tooltip('show');
            } else if(session['code'] == '103'){
                jQuery('.ewus').tooltip('hide')
                    .attr('data-original-title', 'Niewłaściwy Token')
                    .tooltip('fixTitle')
                    .tooltip('show');
            } else{
                jQuery('.ewus').tooltip('hide')
                    .attr('data-original-title', 'Pacjent nie posiada uprawnień '+msg)
                    .tooltip('fixTitle')
                    .tooltip('show');
            }
        }
    };
    var cardController = {
        init: function () {
            <?php if(!$this->havePreparedData): ?>
            var inviEventType = new InviEventType(".start-visit", "#dialog-event-start", cardController.eventStart, 'icon-arrow-right');
            <?php else: ?>
            jQuery(".start-visit").click(function(){
                document.location.href = '<?php echo $this->url('visit/default', array('action' => 'view', 'id' => $this->havePreparedData->id)); ?>';
            });
            <?php endif; ?>
            
                
        },
        eventStart: function (id, name) {
            var $that = $(this);
            jQuery.ajax({
                type: "POST",
                dataType: 'json',
                url: '<?php echo $this->url('visit/default', array('action' => 'start', 'patient_id' => $this->patientData->id)); ?>',
                data: {
                    'type_id': id
                }
            })
            .done(function (data) {
                var visitId = data.data.visitId;

                jQuery('#dialog-visit').dialog('close');
                if (data.status == '<?php echo \Invi\System\JSON::STATUS_OK ?>') {
                    jQuery('.start-visit').addClass('disabled');
                    jQuery('.start-visit').tooltip('hide')
                            .attr('data-original-title', 'Wizyta trwa')
                            .tooltip('fixTitle')
                            .tooltip('show');
                    cardController.reloadVisitBox();
                    location.href = '<?php echo $this->url('visit/default', array('action' => 'view')); ?>/id/' + visitId;
                } else {
                    inviNotification.error('Wystąpił błąd przy rozpoczęciu wizyty');
                }
            });
        },
        reloadVisitBox: function () {
            jQuery.ajax({
                type: "POST",
                url: '<?php echo $this->url('visit/default', array('action' => 'box',)); ?>'
            })
                    .done(function (data) {
                        jQuery('.visit-info').html(data);
                        inviNotification.success('Rozpoczęto wizytę');
                    });
        }
    };
    var assignTooltips = {
<?php
$allergyText = '';
foreach ($this->allergy as $allergy) {
    $allergyText .= '<li><span>' . $allergy['allergy'] . '</span></li>';
}

$diseaseText = '';
foreach ($this->disease as $disease => $value) {
    
    if ($value == 'yes') {
        $diseaseLabel = $this->formDisease->get($disease)->getLabel();
        $diseaseText .= '<li><span>' . $diseaseLabel . '</span></li>';
    }
}
$chronicText = '';
$other = General::getChronicOther();
foreach (General::getChronic() as $disease){
    $value = $this->disease[$disease];
    if ($value == 'yes') {
        if($disease == $other[0]){
            $chronicText .= '<li><span>' . $this->disease[$other[1]] . '</span></li>';  
        }else{
            $chronicLabel = $this->formDisease->get($disease)->getLabel();
            $chronicText .= '<li><span>' . $chronicLabel . '</span></li>';           
        }
    }
}

$infectiousText = '';
$other = General::getInfectiousOther();
foreach (General::getInfectious() as $disease){
    $value = $this->disease[$disease];
    if ($value == 'yes') {
        if($disease == $other[0]){
            $infectiousText .= '<li><span>' . $this->disease[$other[1]] . '</span></li>';  
        }else{
            $infectiousLabel = $this->formDisease->get($disease)->getLabel();
            $infectiousText .= '<li><span>' . $infectiousLabel . '</span></li>';
        }
    }
}

$otherText = '';
$genOther = General::getOther();
foreach ($genOther as $disease){
    if($disease == 'other_diseases') {
        if(strlen($this->disease[$disease])) {
            $otherText .= '<li><span>' . $this->disease[$disease] . '</span></li>';
        }
    }
}

$visitText = '';
$allVisitData = array();
foreach ($this->visitsWithAlert as $row) {
    if (!isset($allVisitData[$row['id']])) {
        $allVisitData[$row['id']] = array(
            'type_name' => $row['name'],
            'time_start' => date('Y-m-d', strtotime($row['time_start'])),
            'alerts' => array(0 => array('ex_name' => $row['ex_name']))
        );
    } else {
        $allVisitData[$row['id']]['alerts'][] = array('ex_name' => $row['ex_name']);
    }
}
foreach ($allVisitData as $visitData) {
    $visitText .= '<div>' . $visitData['type_name'] . ' ' . $visitData['time_start'] . '</div><ul>';
    foreach ($visitData['alerts'] as $examination) {
        $visitText .= '<li><span>' . $examination['ex_name'] . '</span></li>';
    }
    $visitText .= '</ul>';
}

$escaper = new Zend\Escaper\Escaper('utf-8');
?>

        textAllergy: '<?php echo $escaper->escapeJs($allergyText); ?>',
        textChronic: '<?php echo $escaper->escapeJs($chronicText); ?>',
        textInfectious: '<?php echo $escaper->escapeJs($infectiousText); ?>',
        textOther: '<?php echo $escaper->escapeJs($otherText); ?>',
        textVisit: '<?php echo $escaper->escapeJs($visitText); ?>',
        init: function () {
            assignTooltips.exclamation();
            assignTooltips.question();
        },
        exclamation: function () {
            var textTooltip = '';
            if (assignTooltips.textAllergy.length) {
                textTooltip += 'Alergie:' + '<ul>' + assignTooltips.textAllergy + '</ul>';
            }
            if (assignTooltips.textChronic.length) {
                textTooltip += 'Choroby przewlekłe:' + '<ul>' + assignTooltips.textChronic + '</ul>';
            }
            if (assignTooltips.textInfectious.length) {
                textTooltip += 'Choroby zakaźne:' + '<ul>' + assignTooltips.textInfectious + '</ul>';
            }
            if (assignTooltips.textOther.length) {
                textTooltip += 'Pozostałe dolegliwości:' + '<ul>' + assignTooltips.textOther + '</ul>';
            }
            if (textTooltip.length) {
                jQuery(".icon-exclamation")
                        .addClass("active")
                        .tooltip({
                            placement: "bottom",
                            title: textTooltip,
                            html: true
                        });
            }
        },
        question: function () {
            var textTooltip = '';
            if (assignTooltips.textVisit.length) {
                textTooltip += assignTooltips.textVisit;
            }
            if (textTooltip.length) {
                jQuery(".icon-question-tooltip")
                        .addClass("active")
                        .tooltip({
                            placement: "bottom",
                            title: textTooltip,
                            html: true
                        });
            }
        }
    };
    function tooltips() {
        $('.user-card-button ').tooltip({
            placement: 'bottom'
        });
    }

    jQuery(document).ready(function ($) {
        cardController.init();
<?php if ($this->autostart) : ?>
            cardController.startVisitDialog();
<?php endif; ?>

        assignTooltips.init();
        tooltips();
        nfz.init();
    });
</script>
